/* components/Navbar.module.css */


.main {
  width: 100%;
  height: 20;
  background-color: black;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: white;

  @media (min-width: 768px) {
    display: block;
  }

}


.menu {
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    display: flex;
    height: auto;
  }
}

.items {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-bottom: 1.5rem;
  border-bottom-width: 2px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  color: #ffffff;


  @media (min-width: 768px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-bottom-width: 0;
  }
}


/* @media (min-width: 1024px) {
  justify-content: space-between;
}

@media (min-width: 1280px) {} */

.logo a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 1.5rem;
}

.links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.links a:hover {
  color: #61dafb;
}